@model RolexStore.ViewModels.CartViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Cart List</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="cart_area section_padding">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">@Html.LabelFor(Model => Model.ProductVm[0].CollectionName)</th>
                                <th scope="col">@Html.LabelFor(Model => Model.ProductVm[0].Price)</th>
                                <th scope="col">@Html.LabelFor(Model => Model.ProductVm[0].BuyingQuantity)</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @using (Html.BeginForm("Update", "Cart", FormMethod.Post))
                            {
                                @Html.HiddenFor(model => model.CartID)


                                for (int i = 0; i < Model.ProductVm.Count; i++)
                                {
                                    @Html.HiddenFor(model => Model.ProductVm[i].ProductID)
                                    @Html.HiddenFor(model => Model.ProductVm[i].CollectionName)
                                    @Html.HiddenFor(model => Model.ProductVm[i].Price)
                                    <tr>
                                        <td>
                                            <div class="media">
                                                <div class="d-flex">
                                                    <img src="../assets/img/product/popular1.png" alt="" />
                                                </div>
                                                <div class="media-body">
                                                    <p>@Model.ProductVm[i].CollectionName</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h5>@Model.ProductVm[i].Price</h5>
                                        </td>
                                        <td>
                                            <div class="product_count">
                                                @Html.EditorFor(m => m.ProductVm[i].BuyingQuantity, new { htmlAttributes = new { min = 0, max = 10 } })
                                            </div>
                                        </td>
                                        <td>
                                            <h5>@(Model.ProductVm[i].Price*Model.ProductVm[i].BuyingQuantity)tr VND</h5>
                                        </td>
                                    </tr>
                                }
                                <tr class="bottom_button">
                                    <td>
                                        <div><input type="submit" value="Update Cart" /></div>
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    <h5>Subtotal</h5>
                                </td>
                                <td>
                                    <h5>@Model.Total tr VND</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="checkout_btn_inner float-right">
                        <a class="btn_1" href="./shop.html">Continue Shopping</a>
                        <a class="btn_1 checkout_btn_1" href="./checkout.html">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="~/Content/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="~/Content/js/vendor/jquery-1.12.4.min.js"></script>
<script src="~/Content/js/popper.min.js"></script>
<script src="~/Content/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="../assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="~/Content/js/owl.carousel.min.js"></script>
<script src="~/Content/js/slick.min.js"></script>

<!-- One Page, Animated-HeadLin -->
<script src="~/Content/js/wow.min.js"></script>
<script src="~/Content/js/animated.headline.js"></script>
<script src="~/Content/js/jquery.magnific-popup.js"></script>

<!-- Scroll up, nice-select, sticky -->
<script src="~/Content/js/jquery.scrollUp.min.js"></script>
<script src="~/Content/js/jquery.nice-select.min.js"></script>
<script src="~/Content/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="~/Content/js/contact.js"></script>
<script src="~/Content/js/jquery.form.js"></script>
<script src="~/Content/js/jquery.validate.min.js"></script>
<script src="~/Content/js/mail-script.js"></script>
<script src="~/Content/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="~/Content/js/plugins.js"></script>
<script src="~/Content/js/main.js"></script>

@Scripts.Render("~/Content/js")
