<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Watch shop | Shop</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/flaticon.css">
    <link rel="stylesheet" href="~/Content/slicknav.css">
    <link rel="stylesheet" href="~/Content/animate.min.css">
    <link rel="stylesheet" href="~/Content/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/Content/themify-icons.css">
    <link rel="stylesheet" href="~/Content/slick.css">
    <link rel="stylesheet" href="~/Content/nice-select.css">
    <link rel="stylesheet" href="~/Content/style.css">
</head>

<body>
    <div class="container body-content">
        <header>
            <!-- Header Start -->
            <div class="header-area">
                <div class="main-header header-sticky">
                    <div class="container-fluid">
                        <div class="menu-wrapper">
                            <!-- Main-menu -->
                            <div class="main-menu d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="../index.html">Home</a></li>
                                        <li>
                                            @Html.ActionLink("Shop", "Index", "Watch")
                                            <ul class="submenu">
                                                <li><a href="#">Men</a></li>
                                                <li><a href="#">Women</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">about</a></li>

                                        <li>
                                            <a href="#">Pages</a>
                                            <ul class="submenu">
                                                <li><a href="login.html">Login</a></li>
                                                <li>@Html.ActionLink("Cart", "Index", "Cart")</li>
                                                <li><a href="checkout.html">Product Checkout</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- Header Right -->
                            <div class="header-right">
                                <ul>
                                    <li>
                                        <div class="nav-search search-switch">
                                            <span class="#">Search</span>
                                        </div>
                                    </li>
                                    <li> <a href="./pages/login.html"><span class="#">Login</span></a></li>
                                    <li>@Html.ActionLink("Cart", "Index", "Cart")</li>
                                </ul>
                            </div>
                        </div>
                        <!-- Header Right -->
                        <div class="header-right">
                            <ul>
                                <li>
                                    <div class="nav-search search-switch">
                                        <span class="flaticon-user">Search</span>
                                    </div>
                                </li>
                                @if (Session["user"] != null)
                                {
                                    <li><a href="#" class=""><span>hello @Session["username"]</span></a></li>
                                    <li><a href="/Account/LogOut"><span>Log Out</span></a></li>
                                }
                                else
                                {
                                    <li> <a href="/Account/Login"><span class="flaticon-user">Login</span></a></li>

                                }
                                <li><a href="@Url.Action("Index", "Cart")"><span
                                            class="flaticon-shopping-cart">Cart</span></a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header End -->
        </header>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <<<<<<< HEAD @*@Scripts.Render("~/bundles/jquery") @Scripts.Render("~/bundles/bootstrap")*@ <script
        src="~/Content/assets/js/vendor/modernizr-3.5.0.min.js">
        </script>
        <!-- Jquery, Popper, Bootstrap -->
        <script src="~/Content/assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="~/Content/assets/js/popper.min.js"></script>
        <script src="~/Content/assets/js/bootstrap.min.js"></script>
        <!-- Jquery Mobile Menu -->
        <script src="~/Content/assets/js/jquery.slicknav.min.js"></script>

        <!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="~/Content/assets/js/owl.carousel.min.js"></script>
        <script src="~/Content/assets/js/slick.min.js"></script>

        <!-- One Page, Animated-HeadLin -->
        <script src="~/Content/assets/js/wow.min.js"></script>
        <script src="~/Content/assets/js/animated.headline.js"></script>
        <script src="~/Content/assets/js/jquery.magnific-popup.js"></script>

        <!-- Scrollup, nice-select, sticky -->
        <script src="~/Content/assets/js/jquery.scrollUp.min.js"></script>
        <script src="~/Content/assets/js/jquery.nice-select.min.js"></script>
        <script src="~/Content/assets/js/jquery.sticky.js"></script>

        <!-- Jquery Plugins, main Jquery -->
        <script src="~/Content/assets/js/plugins.js"></script>
        <script src="~/Content/assets/js/main.js"></script>

    @*@RenderSection("scripts", required: false)*@
        =======
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
        >>>>>>> b700569ffa45c2293c0783c9bda31c81c3718c77
</body>

</html>
